node_modules/
lib/
android/.gradle/
android/build/
build/
ios/build/
ios/generated-bitnet-src/
bitnet.config.json
a.out.js
a.out.wasm
example/node_modules/
example/dist/
example/ios-build/
example/public/bitnet_wasm.*
!example/public/.gitkeep
example/ios/Pods/
example/ios/build/
example/ios/.xcode.env.local
example/android/.gradle/
example/android/.gradle-user/
example/android/app/.cxx/
example/android/app/build/
example/android/build/
third_party/BitNet/
*.xcworkspace
*.xcuserdata
.DS_Store
